@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab-Bold";
  src: url("../fonts/RobotoSlab-Bold.woff2") format("woff2"), url("../fonts/RobotoSlab-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab-Regular";
  src: url("../fonts/RobotoSlab-Regular.woff2") format("woff2"), url("../fonts/RobotoSlab-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #4B5157;
  background-color: #FFFFFF;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.image {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper_dark {
  background-color: #262D33;
  width: 100%;
}

.wrapper_dark_a {
  position: absolute;
  top: 189px;
  height: 475px;
  z-index: -1;
}

.wrapper_gray {
  background-color: #E5E5E5;
  width: 100%;
  z-index: -10;
  padding: 60px 0;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment__icon {
  width: 13.5px;
  height: 13.5px;
  margin-right: 5.75px;
}

.comment__quantity {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.like__icon {
  margin-right: 6.12px;
}

.like__quantity {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #D9DADB;
  z-index: 10;
}

.line_blue {
  background-color: #B4D1E0;
}

.button {
  border: none;
  cursor: pointer;
  outline: none;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 23px;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  align-items: center;
  background: #4592FF;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
}

.link__text {
  margin: 0 5px;
}

.link__number {
  font-size: 14px;
  line-height: 20px;
  color: #C5E4FC;
}

.link:hover {
  -webkit-box-shadow: 0 0 20px 0px #ffffff47;
          box-shadow: 0 0 20px 0px #ffffff47;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.header {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin-top: 7px;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 84px;
  font-size: 14px;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 289px;
}

.header__liberty-statue {
  width: 100px;
  height: 84px;
  margin-left: 4%;
}

.header__label {
  line-height: 20px;
}

.header__logo {
  margin: 0 13.5%;
  min-width: 150px;
}

.header__date {
  line-height: 20px;
  margin-right: 61px;
}

.header__weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icon {
  width: 20px;
  height: 20px;
}

.header__temperature {
  margin-left: 11px;
  line-height: 20px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__icon {
  width: 20px;
  height: 20px;
}

.menu__label {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #262D33;
  margin-left: 15px;
  padding-right: 26px;
}

.search {
  height: 100%;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  border-left: 1px solid #BCBFC2;
}

.search__icon {
  width: 20px;
  height: 20px;
}

.search__input {
  width: 90%;
  height: 100%;
  min-width: 165px;
  font-size: 14px;
  line-height: 20px;
  border: none;
  padding: 0 25px;
  margin: 0 25px;
}

.search__input::-webkit-input-placeholder {
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
  background-position: left center;
  background-clip: padding-box;
  background-size: 20px 20px;
  object-fit: contain;
  height: 20px;
  font-size: 14px;
  color: #939699;
}

.search__input:-ms-input-placeholder {
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
  background-position: left center;
  background-clip: padding-box;
  background-size: 20px 20px;
  object-fit: contain;
  height: 20px;
  font-size: 14px;
  color: #939699;
}

.search__input::-ms-input-placeholder {
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
  background-position: left center;
  background-clip: padding-box;
  background-size: 20px 20px;
  object-fit: contain;
  height: 20px;
  font-size: 14px;
  color: #939699;
}

.search__input::placeholder {
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
  background-position: left center;
  background-clip: padding-box;
  background-size: 20px 20px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 20px;
  font-size: 14px;
  color: #939699;
}

.search__input:focus {
  outline: none;
  outline-offset: none;
  border: none;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__mark {
  border: 1px dashed #BCBFC2;
  border-bottom: none;
}

.subscribe__image {
  width: 66px;
  height: 44px;
  border: 2px solid #BCBFC2;
  border-bottom: none;
}

.subscribe__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 4px 25px 0 10px;
  font-size: 12px;
  line-height: 15px;
}

.subscribe__title {
  font-weight: bold;
  color: #262D33;
}

.subscribe__price {
  color: #939699;
}

.subscribe__authorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__icon {
  width: 20px;
  height: 20px;
}

.subscribe__signIn {
  margin-left: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
}

.navbar {
  background-color: #ffffff;
}

.navbar-menu {
  background: #262D33;
}

.navbar-menu__navigation {
  margin: 0;
  padding: 18px 0px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFFFFF;
}

.navbar-menu__link {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.navbar-menu__item_mob_visible {
  display: none;
  width: 80%;
}

.container_dark {
  padding-top: 30px;
  margin-bottom: 30px;
}

.top-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #30363D;
  border-radius: 10px;
}

.top-news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0 30px 0;
  padding: 0 25px;
  min-width: 234px;
  border-right: 1px solid #4B5157;
}

.top-news__item:nth-last-child(1) {
  border: none;
}

.top-news__text {
  max-width: 154px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
}

.top-news__image {
  width: 65px;
  height: 65px;
  margin-left: 15px;
}

.top-tabs {
  max-width: 1140px;
  width: 100%;
  height: 570px;
  margin-top: 30px;
  background-color: pink;
}

.grid-cards {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(263px, 1fr))[4];
      grid-template-columns: repeat(4, minmax(263px, 1fr));
  -ms-grid-rows: (minmax(170px, 1fr))[4];
      grid-template-rows: repeat(4, minmax(170px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-cards__item {
  background-color: #FFFFFF;
}

.grid-cards__item_1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  width: 555px;
  height: 370px;
  padding: 25px 25px 13px 25px;
}

.grid-cards__item_2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 3;
  grid-column: 3;
  width: 263px;
  height: 370px;
  padding: 25px 25px 30px 25px;
}

.grid-cards__item_3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  -ms-grid-column: 1;
  grid-column: 1;
  width: 263px;
  height: 370px;
  padding: 0;
}

.grid-cards__item_4 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
  padding: 25px 25px 30px 25px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.grid-cards__item_5 {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 2;
  grid-column: 2;
  padding: 25px 25px 30px 25px;
}

.grid-cards__item_6 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  grid-column: 3;
  padding: 25px 25px 30px 25px;
}

.grid-cards__item_7 {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 3;
  grid-column: 3;
  padding: 25px 25px 30px 25px;
}

.grid-cards__item_8 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
  -ms-grid-column: 4;
  grid-column: 4;
  background-color: #6E99AE;
  width: 263px;
  height: 770px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  color: #4B5157;
  border-radius: 10px;
}

.grid-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
  margin: 10px 10px 49px 10px;
  z-index: 3;
}

.grid-card-wrapper_2 {
  margin: 0;
  width: 100%;
  margin-top: 135px;
  margin-right: 10px;
}

.grid-card__rubric {
  font-size: 12px;
  line-height: 15px;
  color: #6E99AE;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.grid-card__rubric_2 {
  color: #E7D9FF;
}

.grid-card__rubric_columns {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  margin: 20px 25px;
}

.grid-card__title {
  margin: 0px 0 25px 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #262D33;
}

.grid-card__title_upper {
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}

.grid-card__title_cat {
  font-size: 16px;
  line-height: 25px;
  margin: 15px 25px 30px 25px;
}

.grid-card__title_min {
  font-size: 16px;
  line-height: 25px;
  margin: 0 0 5px 0;
}

.grid-card__title_medium {
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  margin: 10px 10px 15px 10px;
}

.grid-card__text {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.grid-card__image_1 {
  position: absolute;
  width: 292px;
  height: 299px;
  right: 0px;
  top: 15px;
  z-index: 2;
}

.grid-card__image_2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.grid-card__image-gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(64, 48, 61, 0.35)), to(rgba(64, 48, 61, 0.35)));
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
  z-index: -1;
}

.grid-card__image_3 {
  width: 100%;
  height: 74.32%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.grid-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 12px 8px 0 8px;
}

.grid-card__info_2 {
  margin: 15px 0px 0 0px;
}

.grid-card__ava {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.grid-card__ava_45x45 {
  width: 45px;
  height: 45px;
}

.grid-card__name {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color: #262D33;
}

.grid-card__name_light {
  font-weight: normal;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.85;
  width: 100%;
}

.grid-card__name_blue {
  font-weight: normal;
  color: #D1E2EB;
  mix-blend-mode: normal;
  opacity: 0.85;
  width: 100%;
}

.grid-card__comment {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
}

.grid-card__label {
  position: absolute;
  top: 18px;
  left: 18px;
  z-index: 50;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  background: #3DC47E;
  border-radius: 3px;
  padding: 5px 12px;
}

.grid-card__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
}

.grid-card__date {
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.grid-card__date_gray {
  color: #939699;
  opacity: 1;
  margin-top: 10px;
}

.grid-card__card {
  position: relative;
  margin: 0 25px;
  border-bottom: 1px solid #B4D1E0;
  padding: 35px 0 39px 0;
}

.grid-card__card:nth-last-child(1) {
  border: none;
}

.grid-card__quote {
  position: absolute;
  top: 35px;
  left: 0px;
  z-index: -1;
}

.grid-card__profession {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #D1E2EB;
}

.grid-card__button {
  width: 100%;
  padding: 11px 25px 14px 25px;
  background-color: #6E99AE;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.paralax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  height: 270px;
}

.paralax__image-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.paralax__image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}

.paralax__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
  width: 55%;
  text-align: center;
}

.posts {
  max-width: 848px;
  background: #FFFFFF;
  border-radius: 10px;
}

.posts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  border-bottom: 1px solid #D9DADB;
}

.posts__item:nth-last-child(1) {
  border: none;
}

.posts__image {
  width: 336px;
  height: 195px;
}

.posts__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 25px;
}

.posts__rubric {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 5px;
}

.posts__rubric_blue {
  color: #4592FF;
}

.posts__rubric_tomato {
  color: #FF4F52;
}

.posts__rubric_green {
  color: #3BBDC4;
}

.posts__rubric_purple {
  color: #AC8EE3;
}

.posts__bookmark {
  position: absolute;
  top: 1px;
  right: 3px;
  fill: #BCBFC2;
}

.posts__bookmark_red {
  fill: red;
}

.posts__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #262D33;
  margin-top: 15px;
  margin-bottom: 10px;
}

.posts__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #262D33;
  margin-bottom: 20px;
  margin-top: 0;
}

.posts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 125px;
}

.posts__date {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.recommends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-left: 29px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.recommends__rubric {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #262D33;
  margin: 20px 25px;
  font-weight: bold;
}

.recommends__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 17px 0;
  margin: 0 25px;
  border-bottom: 1px solid #D9DADB;
}

.recommends__card:nth-last-child(1) {
  border: none;
}

.recommends__image {
  width: 60px;
  height: 60px;
}

.recommends-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

.recommends__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  color: #4B5157;
  margin-bottom: 5px;
}

.recommends__time {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.recommends__number {
  position: absolute;
  top: 20px;
  right: 25px;
}

.recommends__button {
  width: 100%;
  padding: 11px 25px 14px 25px;
  background-color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  color: #262D33;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dark-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dark-cards__slider {
  background-color: darkgrey;
  width: 50%;
  margin: 60px 0;
}

.dark-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px 0;
  margin-left: 30px;
  width: 50%;
}

.dark-cards__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 47.3%;
  background-color: #fff;
  margin-right: 30px;
  padding: 25px 25px 30px 25px;
  border-radius: 10px;
  z-index: 5;
}

.dark-cards__card:nth-last-child(1) {
  margin-right: 0px;
}

.dark-cards__card_big {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 30px 0;
  padding: 35px 35px 50px 35px;
  background-color: #B4D1E0;
}

.dark-cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dark-cards__rubric {
  font-size: 12px;
  line-height: 15px;
  color: #6E99AE;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.dark-cards__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #262D33;
  margin: 0;
  max-width: 243px;
}

.dark-cards__title_min {
  font-size: 16px;
  line-height: 25px;
}

.dark-cards__text {
  margin-top: 5px;
  margin-bottom: 10px;
  max-width: 214px;
  color: #4B5157;
  font-size: 14px;
  line-height: 20px;
}

.dark-cards__text_big {
  margin-top: 15px;
  margin-bottom: 25px;
}

.dark-cards__image {
  position: absolute;
  top: 18px;
  right: 30px;
  bottom: 0;
  z-index: -1;
}

.dark-cards__date {
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.slider__label {
  position: absolute;
  top: 18px;
  left: 18px;
  background: #FF4F52;
  border-radius: 3px;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  padding: 5px 12px;
}

.slider__ava {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.slider__name {
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.slider__profession {
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.slider__title {
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
  margin: 30px 0 45px 0;
  max-width: 430px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 972px;
  }
  .header__liberty-statue {
    margin-left: 2%;
  }
  .header__logo {
    margin: 0px 8.5%;
  }
  .header__date {
    margin-right: 34px;
  }
  .top-news__item {
    padding: 0 10px;
  }
  .top-news__image {
    margin-left: 10px;
  }
  .wrapper_gray {
    height: 1660px;
  }
  .grid-cards {
    margin-top: 20px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .grid-cards__item_1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    height: 100%;
    width: 100%;
  }
  .grid-cards__item_2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
    -ms-grid-column: 1;
    grid-column: 1;
    height: 100%;
    width: 100%;
  }
  .grid-cards__item_3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
    -ms-grid-column: 2;
    grid-column: 2;
    height: 100%;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .grid-cards__item_4 {
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 1;
    grid-column: 1;
    width: 100%;
  }
  .grid-cards__item_5 {
    -ms-grid-row: 6;
    grid-row: 6;
    -ms-grid-column: 1;
    grid-column: 1;
    height: 100%;
    width: 100%;
  }
  .grid-cards__item_6 {
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 2;
    grid-column: 2;
    height: 100%;
    width: 100%;
  }
  .grid-cards__item_7 {
    -ms-grid-row: 6;
    grid-row: 6;
    -ms-grid-column: 2;
    grid-column: 2;
    height: 100%;
    width: 100%;
  }
  .grid-cards__item_8 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 6;
    grid-row: 1/7;
    -ms-grid-column: 3;
    grid-column: 3;
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 992px) {
  a:hover {
    text-shadow: none;
  }
  .container {
    max-width: 90%;
  }
  .header__liberty-statue {
    width: 70px;
    height: 54px;
  }
  .header-bottom {
    font-size: 12px;
  }
  .header-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 233px;
  }
  .header__date {
    margin-right: 5px;
  }
  .subscribe__text {
    margin-left: 5px;
    margin-right: 10px;
  }
  .subscribe__image {
    width: 57px;
    height: 37px;
  }
  .navbar-menu {
    display: none;
  }
  .top-news {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .top-news__item {
    width: 50%;
    padding: 0 5%;
    margin: 10px 0 10px 0;
  }
  .top-news__text {
    max-width: inherit;
  }
  .grid-cards {
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 690px;
    width: 89%;
  }
  .header__liberty-statue {
    width: 60px;
    height: 44px;
    margin: 0;
  }
  .header__logo {
    margin: 0px 5%;
  }
  .header-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 181px;
    min-width: 181px;
  }
  .header-wrapper_top {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .header__date {
    margin-right: 0px;
    width: 100%;
  }
  .header .search__input {
    width: 85%;
    margin: 0px 10px;
  }
  .subscribe__authorization {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .subscribe__signIn {
    display: none;
  }
  .wrapper_gray {
    height: 2440px;
  }
  .grid-cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[8];
        grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  .grid-cards__item_1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    height: 100%;
    width: 100%;
  }
  .grid-cards__item_2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
    -ms-grid-column: 1;
    grid-column: 1;
    height: 100%;
    width: 100%;
  }
  .grid-cards__item_3 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5/7;
    -ms-grid-column: 1;
    grid-column: 1;
    height: 100%;
    width: 100%;
  }
  .grid-cards__item_4 {
    -ms-grid-row: 7;
    grid-row: 7;
    -ms-grid-column: 1;
    grid-column: 1;
    width: 100%;
  }
  .grid-cards__item_5 {
    -ms-grid-row: 8;
    grid-row: 8;
    -ms-grid-column: 1;
    grid-column: 1;
    height: 100%;
    width: 100%;
  }
  .grid-cards__item_6 {
    -ms-grid-row: 9;
    grid-row: 9;
    -ms-grid-column: 1;
    grid-column: 1;
    height: 100%;
    width: 100%;
  }
  .grid-cards__item_7 {
    -ms-grid-row: 10;
    grid-row: 10;
    -ms-grid-column: 1;
    grid-column: 1;
    height: 100%;
    width: 100%;
  }
  .grid-cards__item_8 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 8;
    grid-row: 3/11;
    -ms-grid-column: 2;
    grid-column: 2;
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 586px) {
  .header-bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-wrapper_top {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    min-width: 30px;
  }
  .header-wrapper_bottom {
    display: none;
  }
  .header__liberty-statue {
    display: none;
  }
  .header__label {
    display: none;
  }
  .subscribe__mark, .subscribe__text {
    display: none;
  }
  .top-news {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top-news__item {
    width: 75%;
    padding: 0 2%;
    margin: 6px 0;
    border: none;
  }
  .top-news__text {
    font-size: 12px;
  }
  .top-news__image {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
  .wrapper_gray {
    height: 4080px;
  }
  .grid-cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[10];
        grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  .grid-cards__item_1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    height: 100%;
    width: 100%;
  }
  .grid-cards__item_2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    height: 100%;
    width: 100%;
  }
  .grid-cards__item_3 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5/7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    height: 100%;
    width: 100%;
  }
  .grid-cards__item_4 {
    -ms-grid-row: 7;
    grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    width: 100%;
  }
  .grid-cards__item_5 {
    -ms-grid-row: 8;
    grid-row: 8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    height: 100%;
    width: 100%;
  }
  .grid-cards__item_6 {
    -ms-grid-row: 9;
    grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    height: 100%;
    width: 100%;
  }
  .grid-cards__item_7 {
    -ms-grid-row: 10;
    grid-row: 10;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    height: 100%;
    width: 100%;
  }
  .grid-cards__item_8 {
    -ms-grid-row: 11;
    -ms-grid-row-span: 1;
    grid-row: 11/12;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    height: 100%;
    width: 100%;
  }
}
/*# sourceMappingURL=slyle.css.map */