@font-face 
	font-family: "Lato-Regular"
	src: url('../fonts/Lato-Regular.woff2') format('woff2'), url('../fonts/Lato-Regular.woff') format('woff')
	font-weight: normal
	font-style: normal
	font-display: swap
	
@font-face 
	font-family: "Lato-Bold"
	src: url('../fonts/Lato-Bold.woff2') format('woff2'), url('../fonts/Lato-Bold.woff') format('woff')
	font-weight: normal
	font-style: normal
	font-display: swap

@font-face 
	font-family: "RobotoSlab-Bold"
	src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'), url('../fonts/RobotoSlab-Bold.woff') format('woff')
	font-weight: normal
	font-style: normal
	font-display: swap

@font-face 
	font-family: "RobotoSlab-Regular"
	src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'), url('../fonts/RobotoSlab-Regular.woff') format('woff')
	font-weight: normal
	font-style: normal
	font-display: swap
