@media (max-width: 1200px)
	.container
		max-width: 960px


@media (max-width: 992px) 
	a:hover
		text-shadow: none
	
	.container
		max-width: 90%
	

@media (max-width: 768px)
	body
		padding-top: 78px
	.container
		max-width: 690px //570px
		width: 89%
	


// @media (max-width: 400px)


@media (max-height: 583px)
	.navbar
		&-menu
			&_visible
				overflow-y: scroll


@media (max-height: 500px)
	.modal
		&__dialog
			overflow-y: scroll
			top: 10px
			bottom: 10px
			transform: none
			transform: translateX(-50%)
