.grid
	&-cards
		margin-top: 315px
		display: grid
		grid-template-columns: repeat(4, minmax(263px, 1fr))
		grid-template-rows: repeat(4, minmax(170px, 1fr))
		grid-column-gap: 30px
		grid-row-gap: 30px
		align-content: center
		justify-content: center
		&__item
			width: 263px
			height: 170px
			&_1
				grid-row: 1/3				
				grid-column: 1/3
				background-color: #c78888
				width: 555px
				height: 370px
			&_2
				grid-row: 1/3
				grid-column: 3
				background-color: #e98686
				width: 263px
				height: 370px
			&_3
				grid-row: 3/5
				grid-column: 1
				background-color: #888cc7
				width: 263px
				height: 370px
			&_4
				grid-row: 3
				grid-column: 2
				background-color: #aaaccc
				width: 263px
				height: 170px
			&_5
				grid-row: 4
				grid-column: 2
				background-color: #c1aacc
				width: 263px
				height: 170px
			&_6
				grid-row: 3
				grid-column: 3
				background-color: #ab82be
				width: 263px
				height: 170px
			&_7
				grid-row: 4
				grid-column: 3
				background-color: #be82af
				width: 263px
				height: 170px
			&_8
				grid-row: 1/5
				grid-column: 4
				background-color: #82beac
				width: 263px
				height: 770px

